*{
    margin: 0;
    padding: 0;
}

body{    
   overflow: hidden;
}

.canvas{
    margin: 0 auto ; 
    /* background: url("images/background.png") ; */
    background-size: cover;
    background-position: bottom;
    background-color: yellow;
    
}

#load {
    font-family:Crab;
    visibility: hidden;
    height: 0px;
}
@font-face {
    font-family:Crab; 
    src: url('crab.regular.ttf');
    }
